<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanguk.sample.persistance.NewsDao">

	<select id="selectAll" resultType="NewsVO">
		select * from tbl_news
		order by seq
	</select>

	<select id="findById" resultType="NewsVO">
		select * from tbl_news
		where seq= #{seq}
	</select>

	<insert id="insert" parameterType="NewsVO">
		insert into tbl_news(
		seq,
		title,
		context,
		date,
		writer,
		images
		) values (
		#{seq},
		#{title},
		#{context},
		#{date},
		#{writer},
		#{images}
		)

	</insert>

	<update id="update" parameterType="NewsVO">
		update tbl_news set
		title = #{title},
		context = #{context},
		date = #{date},
		writer = #{writer},
		images = #{images}
		where
		seq= #{seq}
	</update>

	<delete id="delete" parameterType="NewsVO">
		delete from tbl_news
		where seq=#{seq}
	</delete>


	<select id="create_news_table">
		create table if not exists tbl_news (
		seq bigint auto_increment primary key,
		title varchar(100),
		context varchar(1000),
		date varchar(20),
		writer varchar(20),
		images varchar(125)
		)
	</select>


</mapper>
 
 
 