<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.memo.persistance.TodoDao">
 
 	<select id="selectAll" resultType="TodoVO">
 		SELECT * FROM tbl_todos
 		ORDER BY p_date ASC;
 	</select>
 	<select id="findById" resultType="TodoVO">
 		SELECT * FROM tbl_todos
 		WHERE t_seq = #{t_seq} 	
 	</select>
 	<insert id="insert" parameterType="TodoVO">
 		INSERT INTO tbl_todos(
 			t_username,
 			p_date,
 			p_time,
 			t_context
 		) VALUES (
 			#{t_username},
 			#{p_date},
 			#{p_time},
 			#{t_context}
 			)
 	</insert>
 	<update id="update" parameterType="TodoVO">
 		UPDATE tbl_todos SET
 			t_context = #{t_context},
 			c_date = #{c_date},
 			c_time = #{c_time},
 			complete = #{complete}
 		WHERE t_seq = #{t_seq}
 	</update>
 	<delete id="delete">
 		DELETE FROM tbl_todos
 		WHERE t_seq = #{t_seq}
 	</delete>
 
 	<select id="create_todo_table">
 		CREATE TABLE IF NOT EXISTS tbl_todos (
 			t_seq BIGINT PRIMARY KEY AUTO_INCREMENT,
 			t_username VARCHAR(25) NOT NULL,
 			p_date VARCHAR(10) NOT NULL,
 			p_time VARCHAR(10) NOT NULL,
 			t_context VARCHAR(1000) NOT NULL,
 			c_date VARCHAR(100),
 			c_time VARCHAR(125),
 			complete Boolean DEFAULT FALSE
 		)
 		
 	</select> 
 	
 </mapper> 