<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.todo.persistance.ClassicDao">

	<select id="selectAll" resultType="ClassicVO">
		select b.m_seq, a.s_seq,
		a.song, a.musician, b.mood, a.address, a.checkbox From tbl_songList as a
		LEFT join tbl_moodList as b ON a.s_seq = b.seq
	</select>
	
	<select id="findByMood" resultType="ClassicVO">
		SELECT b.m_seq, a.s_seq,
		a.song, a.musician, b.mood, a.address, a.checkbox From tbl_moodList as b
		LEFT join tbl_songList as a ON b.seq = a.s_seq
		WHERE mood = #{mood}
	</select>
	<select id="findBySong" resultType="ClassicVO">
		SELECT * FROM tbl_songList
		WHERE song = #{song}
	</select>

	<select id="findById" resultType="ClassicVO">
		SELECT * FROM tbl_moodList
		WHERE m_seq = #{m_seq}
	</select>
	
	<select id="findByCheck" resultType="ClassicVO">
		SELECT * FROM tbl_songList
		WHERE checkbox = #{checkbox}
	</select>

	<!-- insert 를 할때 username 칼럼에 로그인한 사용자 정보를 함께 insert 하여 username 에 해당하는 
		데이터만 추출할 수 있도록 -->
	<insert id="insert" parameterType="ClassicVO">
		INSERT INTO tbl_joinList(
		m_seq,
		s_seq,
		song,
		musician,
		address,
		mood,
		checkbox
		) VALUE(
		#{m_seq},
		#{s_seq},
		#{song},
		#{musician},
		#{address},
		#{mood},
		#{checkbox}
		)
	</insert>

	<update id="update" parameterType="ClassicVO">
	UPDATE tbl_joinList SET
		s_seq = #{s_seq},
		song = #{song},
		musician = #{musician},
		address = #{address},
		mood = #{mood},
		checkbox = #{checkbox}
	WHERE m_seq = #{m_seq}
	</update>
	
	<delete id="delete">
	DELETE from tbl_joinList
		m_seq = #{m_seq}
	</delete>

</mapper> 